<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Manakamana Online | Ecommerce Website</title>
    <script
      src="https://kit.fontawesome.com/dca5378fb4.js"
      crossorigin="anonymous"
    ></script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <nav>
      <div class="container">
        <div class="row">
          <div class="left">
            <p>Support: 9802738584</p>
            <a href="mailto:manakamanaonline1@gmail.com">manakamanaonline1@gmail.com</a>
          </div>
          <div class="right">
            <a href="#">
              <li><i class="fa-solid fa-cart-shopping"></i>Cart</li>
            </a>
            <a href="/register">
              <li><i class="fa-solid fa-user"></i>Create Account</li>
            </a>
            <a href="/login">
              <li><i class="fa-solid fa-right-to-bracket"></i>Login</li>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="line"></div>
    <div class="bottom">
      <div class="container">
        <div class="row">
          <img alt="" src="images/logo.jpg" height="70px">
          <form class="search">
            <input type="search" placeholder="Search..." />
            <button  class="search">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="container">
        <div class="row">
          <div class="left" onclick="myFunction()">
            <i class="fa-solid fa-bars"></i>
            <div class="dropdown">
              <p class="category">Category</p>
              <div class="drop-down" id="drop">
                <a href="#">
                  <li>Tools</li>
                </a>
                <a href="#">
                  <li>Electric</li>
                </a>
                <a href="#">
                  <li>Sanitary</li>
                </a>
                <a href="#">
                  <li>Tiles</li>
                </a>
              </div>
            </div>
          </div>
          <div class="right">
            <a href="/">
              <li><i class="fa-solid fa-house"></i>Home</li>
            </a>
            <a href="#">
              <li>Products</li>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <form  id="loginForm" method="post">
          <h2>Login</h2>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit">Login</button>
          <p>Don't have an account? <a href="./register">Sign up</a></p>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer_head">
        <div class="text">Order best tools at your choices</div>
      </div>
      <div class="container">
        <div class="row">
          <div class="flexbox">
            <div class="box">
              <h1>About Manakamana</h1>
              <a href="#">
                <li>
                  <i class="fa-solid fa-location-dot"></i>Dharan:08,
                  Nepal
                </li>
              </a>
              <a href="#">
                <li>
                  <i class="fa-solid fa-envelope"></i>manakamanaonline1@gmail.com
                </li>
              </a>
              <a href="#">
                <li><i class="fa-solid fa-phone"></i>9802738584</li>
              </a>
            </div>
            <div class="box1">
              <h1>Find us on:</h1>
              <div class="social">
                <a href="#">
                  <li>
                    <i class="fa-brands fa-facebook"></i>
                  </li>
                </a>
                <a href="#">
                  <li>
                    <i class="fa-brands fa-whatsapp"></i>
                  </li>
                </a>
                <a href="#">
                  <li>
                    <i class="fa-brands fa-twitter"></i>
                  </li>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_end">
        <div class="container">
          <p>
            &copy; <a href="#"><strong>Manakamana Online</strong> </a>-All Rights
            Reserved.
          </p>
        </div>
      </div>
    </footer>
    
  </body>
    <script>
        function myFunction() {
        document.getElementById("drop").classList.toggle("show");
      }
      document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
    
            // Get form data
            const formData = new FormData(event.target);
            const userData = {
                email: formData.get('email'),
                password: formData.get('password')
            };

            // Send POST request to backend
            axios.post('http://localhost:3000/auth/login', userData)
                .then(function(response) {
                // Handle successful registration response
                alert(response.data.message)
                window.location.href = '/verify'
                })
                .catch(function(error) {
                // Handle registration error
                    alert(error.response.data.message)
                });
        });
    </script>
</html>