#addProduct {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #a353bb; /* Text color */
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #a353bb; /* Border color */
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="file"]:focus {
    border-color: #dca837; /* Border color on focus */
  }
  
  .modal-footer {
    text-align: center;
  }
  
  .btn-primary {
    background-color: #dca837; /* Button background color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #ffa500; /* Button background color on hover */
  }
  
  h2 {
    text-align: center;
    color: #a353bb; /* Heading color */
  }
  